.dx-scheduler-appointment-content {
  padding: 5px;
}
.title {
  font-size: 2rem;
  color: black;
  display: flex;
  text-align: center;
}
.css-1q1u3t4-MuiTableRow-root {
  height: max-content !important;
}
.css-1m9c8oy-MuiTableCell-root .Cell-text {
  padding: 0 !important;
  padding-top: 0 !important;
  text-align: left !important;
}
.Cell-today {
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.dx-scheduler-appointment-content:hover::after {
  content: attr(title);
  position: absolute;
  background: white;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
}
.Cell-dayOfWeek {
  font-size: 20px !important;
}
.HorizontalAppointment-title {
  font-size: 1.35rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.css-1gctmkv-MuiButtonBase-root-MuiButton-root {
  font-size: 2rem !important;
}
.MuiTypography-h6 {
  font-size: 3rem !important;
}
.MuiTypography-body1 {
  font-size: 1.7rem !important;
}

@media (max-width: 600px) {
  .dx-scheduler-navigator {
    flex-direction: column;
  }
  .HorizontalAppointment-title {
    font-size: 1rem !important;
  }
  .MuiTypography-h6 {
    font-size: 2rem !important;
  }
  .MuiTypography-body1 {
    font-size: 1.4rem !important;
  }
  .title {
    font-size: 0.9rem;
    color: black;
    display: flex;
    text-align: center;
  }
}
