.modalButton {
  width: 150px;
  padding: 10px;
  font-size: 15px;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.inputContainer {
  width: 100%;
  margin-bottom: 20px;
}

.saveButton {
  width: 100%;
  margin-top: 20px;
}

/* Increase font size for PC version */
@media (min-width: 1024px) {
  .modalButton {
    font-size: 1.5rem;
  }

  .saveButton {
    font-size: 1.5rem;
  }

  .inputContainer input {
    font-size: 1.5rem;
  }

  .inputContainer label {
    font-size: 1.5rem;
  }
}

.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  grid-gap: 2rem;
}
.modalContainer h2 {
  font-size: 2.5rem;
}
.modalInput {
  width: 100%;
  border: 2px solid black;
  height: 3rem;
  border-radius: 15px;
  font-size: 2rem;
  padding: 2rem;
}

.modalTextarea {
  width: 100%;
  border: 2px solid black;
  height: 12rem;
  border-radius: 15px;
  font-size: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
}
@media (max-width: 400px) {
  .modalContainer h2 {
    font-size: 1.5rem;
  }
  .modalTextarea {
    width: 27rem;
    border: 2px solid black;
    height: 10rem;
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
  }
  .modalInput {
    width: 27rem;
    border: 2px solid black;
    height: 3rem;
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 2rem;
  }
}

@media (max-width: 500px) {
  .modalContainer {
    padding: 10px;
  }

  .inputContainer {
    margin-bottom: 10px;
  }

  .saveButton {
    margin-top: 10px;
  }
}

.modalContainer h2,
.modalContainer .inputContainer label,
.modalContainer .saveButton {
  font-size: 2rem;
}

.inputContainer input {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.inputContainer input:focus {
  border-color: #3f51b5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
