.modalButton {
  width: 100%;
  height: 6rem;
  border: none;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 2rem;
}

.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  grid-gap: 2rem;
}
.modalContainer h2 {
  font-size: 2.5rem;
}
.modalInput {
  width: 100%;
  border: 2px solid black;
  height: 3rem;
  border-radius: 15px;
  font-size: 2rem;
  padding: 2rem;
}

.modalTextarea {
  width: 100%;
  border: 2px solid black;
  height: 12rem;
  border-radius: 15px;
  font-size: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
}
@media (max-width: 400px) {
  .modalContainer h2 {
    font-size: 1.5rem;
  }
  .modalTextarea {
    width: 27rem;
    border: 2px solid black;
    height: 10rem;
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
  }
  .modalInput {
    width: 27rem;
    border: 2px solid black;
    height: 3rem;
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 2rem;
  }
}
