.Booking {
  width: 100%;
  padding: 2rem 0;
}

.bookingContainer {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bookingHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
}
.bookingHeader h2 {
  font-size: 4rem;
  font-weight: bold;
}
.orderBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem;
  grid-gap: 5rem;
  width: 80%;
}
.orderBlockImg {
  width: 100%;
}
.orderInfo {
  width: 100%;
  padding: 2rem;
  border: 2px solid #3b90fb;
  border-radius: 1.4rem;
}
.orderInfo div {
  grid-gap: 3rem;
}

.orderInfo h2 {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 2.5rem;
  color: #555;
}
.orderInfo p {
  font-size: 18px;
  padding-bottom: 1.5rem;
  margin-bottom: 4rem;
  color: #555;
}
.orderButton {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 3rem;
}
@media (max-width: 1000px) {
  .bookingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .orderBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .orderBlockImg {
    display: flex;
    justify-content: center;
    width: 70rem;
  }
}
@media (max-width: 750px) {
  .orderBlockImg {
    width: 40rem;
  }
  .orderButton {
    flex-direction: column;
    grid-gap: 0.5rem;
  }
  .orderButton button {
    width: 17rem;
    height: 4rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .orderBlockImg {
    width: 30rem;
  }
}

.RoomCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.RoomCard .card-body {
  padding: 1.5rem;
}

.RoomCard .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #343a40;
}

.RoomCard .card-subtitle {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 1rem;
}

.RoomCard .card-text {
  font-size: 0.875rem;
  color: #495057;
  margin-bottom: 0.5rem;
}

.RoomCard .d-flex {
  margin-top: 1rem;
}

.RoomCard .card-title,
.RoomCard .card-subtitle,
.RoomCard .card-text {
  text-align: left;
}

.carouselCustom img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Масштабирование изображения, сохраняя пропорции */
}

@media (min-width: 1024px) {
  /* Assuming 1024px as the breakpoint for PC */
  .orderBlockImg .carousel-item img {
    width: 50rem !important;
    height: 50rem !important;
  }
}

.header {
  position: relative;
  z-index: 10; /* Убедитесь, что z-index установлен выше, чем у слайдера */
}

.orderBlockImg {
  position: relative;
  z-index: 1; /* Убедитесь, что z-index установлен правильно */
}

.orderInfo {
  position: relative;
  z-index: 2; /* Убедитесь, что z-index установлен правильно */
}
