.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
  width: 60rem;
}
.footerContent h2 {
  color: #3b90fb;
  font-size: 3rem;
  font-weight: bold;
}
.footerContent a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}
.logo {
  font-size: 4rem;
  color: #3b90fb;
  font-weight: bold;
  line-height: 2.25rem;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .footerContent {
    margin: 0 20px;
    text-align: left;
  }
}
