.DeleteImage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.images {
  width: 50rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
}
.images img {
  width: 40rem;
  height: 20rem;
}
.images button {
  width: 200px;
}
.sideNavContainer {
  display: flex;
  grid-gap: 2rem;
  padding-bottom: 5rem;
  font-size: 2rem;
  color: blue;
}
.titleRoom {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}
.titleRoom h2 {
  font-size: 30px;
}
.delete_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
