.bookButton {
  padding: 12px 24px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.bookButton:hover {
  background-color: #45a049;
}

.modalTitle {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.input:focus,
.textarea:focus {
  outline: none;
  border-color: #4caf50;
}

.textarea {
  min-height: 100px;
  resize: vertical;
}

.error {
  color: #ff4444;
  font-size: 14px;
  margin-top: 5px;
}

.submitButton {
  padding: 12px 24px;
  color: black;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
  transition: background-color 0.3s ease;
}
.submitButton {
  background: #45a049 !important;
}

@media (max-width: 600px) {
  .input,
  .textarea,
  .submitButton {
    font-size: 14px;
  }

  .modalTitle {
    font-size: 20px;
  }

  .form {
    gap: 15px;
  }
}
